<link rel="stylesheet" type="text/css" href="https://www.eastarjet.com/css/common_KR.css">
<link rel="stylesheet" type="text/css" href="https://www.eastarjet.com/css/newstar.style.css">
<link rel="stylesheet" type="text/css" href="https://www.eastarjet.com/css/newstar2.style.css">
<link rel="stylesheet" type="text/css" href="https://www.eastarjet.com/css/newstar.style_KR.css">

<div id="container" style="min-height: 493px;">
      <div class="content">
      <h1 id="logo">
          <a href="/newstar/PGWHC00001">
            <img class="pc_hide" src="https://zeimage.eastarjet.com/newstar/images/logo.png" alt="">
            <img class="m_hide" src="https://zeimage.eastarjet.com/newstar/images/road3.png" alt="">
          </a>
        </h1>
        <h2 class="tit">{msg_title1}</h2>
          <section id="PNWCB00002" style="display: block;">
      <div id="bbs_wrap" class="wrap">
        <table class="bbs_view">
        <thead>
          <tr>
            <th>
            <div class="tit">            
              <p id="PNWCB00002_title_p"><img class="pc_hide" src="https://zeimage.eastarjet.com/newstar/images/logo.png" alt="">{msg_title2}</p>
              <ul class="f_right">
              <li><span>작성일&nbsp;&nbsp;&nbsp;<span id="PNWCB00002_date_p">{msg_date}</span></span></li>
              <li>|</li>
              <li><span>작성자&nbsp;&nbsp;&nbsp;<span id="PNWCB00002_hit_p">{msg_auth}</span></span></li> 
              </ul>
            </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="PNWCB00002_content_td"><p class="0" style="letter-spacing: 0pt; font-family: &quot;맑은 고딕&quot;; font-size: 16px; line-height: 19.2px; margin-top: 0px; margin-bottom: 0px;">
            <span style="font-size: 12pt; font-family: &quot;맑은 고딕&quot;; line-height: 19.2px; margin-top: 0px; margin-bottom: 0px;">
            {msg_contents}
             </span></p></td>
          </tr>
        </tbody>
      </table>
      </div>
  </section>
        </div>
      </div>